@charset "utf-8";
/* CSS Document */

body {
		text-align: center;
		background-color: burlywood;
	}
	
	p {
		font-size: 1.1em;
	}
	
	.bold {
		font-weight: bold;
	}

	.orange {
		color: orangered;
		font-style: italic;
	}
	
	img {
		width: 20%;
		height: 20%;
	}
