@charset "utf-8";
/* CSS Document */

body {
    background-image: url("../images/wood-2142217_1280.jpg");
    background-size: cover;
	font-size: 12vt;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	line-height: 120%;
	}
    
    #container {
		padding: 5px;
		width: 90%;
		margin: 10px auto;
	}
    
    .flex-container {
        display: inline-flex;
        width: 70%;
    }
    
    select {
        margin: 5vt;
    }
    
    label {
        color: darkolivegreen;
    }

    h1 {
        color: darkgreen;
    }

    li {
        margin-top: 5vt;
        font-weight: bold;
    }
    
    ol li {
        font-size: 1.1em;
    }
	
    h3, p {
        margin-left: 1.1em;
        font-weight: bold;
    }

    h3 {
        color: darkgreen;
    }

    p {
        color: darkolivegreen;
    }

    .bold {
	    font-weight: bold;
    }

	.click {
		color: red;
		font-weight: bold;
	}
    
    .button {
		padding: 0.3em;
    }
	
    .button2 {
		padding: 0.3em;
    }
    
	img {
		width: 30%;
		height: 30%;
        float: left;
	}

@media only screen and (max-width: 600px) {
	
	body {
		line-height: 100%;
	}
	
	.floatleft {
		float: none;
		text-align: center;
	}
	
	h1, h2, h3 {
		text-align: center;
	}
	
	img {
		display: block;
		float: none;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		height: 80%;
		width: 80%;
	}
	
	.button {
		display: block;
		margin: 5px;
	}
	
	.button2 {
		display: block;
		margin: 5px;
	}
	
	li {
		margin-top: 2px;
		font-size: 0.7em;
	}
	
	ol li {
		font-size: 0.75em;
	}
}
